
  input {
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid #009d8e;
    font-size: 12px;
  }

  .input-group {
    margin-left: 20px;
  }

  label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  button {
    background-color: #009d8e;
    color: white;
    padding: 18px 5px;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-left: 20px;
    font-family:'Open Sans', sans-serif;
    font-size:100%;
  }
  
  button:hover {
    background-color: #00bfa5;
  }

  h1 {
    font-family: 'Times New Roman';
    font-weight: 300;
    color: black;
    font-size: 250%;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .p1 {
    color: #ffc500;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;

  }
  
  .p2 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 40px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    width: 75%; 
    margin: auto;
  }
  
  form {
    grid-column: 1;
    width: 50%;
    padding-left: 30%;
    margin-top: 10%;
  }
  
  .image-container {
    grid-column: 2; 
    background-color: #ffebdc;
    }
  
  .image-container img {
    width: 100%; 
    height: auto; 
    margin: 20% 10%;
  }

  .image-wrapper {
    position: relative;
  }
  
  .image2,
  .image3 {
    position: absolute;
  }
  
  .image2 {
    top: -90px; 
    padding-left: 465px;
  }
  
  .image3 {
    bottom: -80px;
    left: -110px;
  }
  