/*.avatar-about-us {
    width: 166px;
    height: 166px;
    border-radius: 50%;
    overflow: hidden;
}*/

.box-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

img {
  border-radius: 50%;
  width: 166px;
  height: 166px;  
}

h2 {
  color: black;
  font-size: 1em;
}

p {
  color: black;
  font-size: 0.8em;
}
